<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIRECTORY" value="logs"/>
    <property name="LOG_FILE_NAME" value="application"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss, IST} [%thread] %-5level %logger %M\(%line\) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="APP_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIRECTORY}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd'T'HH:mm:ss, IST} [%thread] %-5level %logger %M\(%line\) - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <FileNamePattern>${LOG_DIRECTORY}/archived/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log.gz
            </FileNamePattern>
            <MaxHistory>15</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="idealab" level="DEBUG" additivity="false">
        <appender-ref ref="APP_APPENDER"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APP_APPENDER"/>
    </logger>
</configuration>